<div class="home_page">
    <a href="<%=new_climb_url(climb_type: 'indoor')%>" class="homePanel" style="background-image:url(<%=image_url('indoor.png')%>)">
    <h4 class="outindoor">indoor</h4>
        <%#= link_to image_tag('indoor.png'),  %>
    </a>
    <a href="<%=new_climb_url(climb_type: 'outdoor')%>" class="homePanel" style="background-image:url(<%=image_url('outdoor.png')%>)">
    <h4 class="outindoor">outdoor</h4>
        <%#=link_to image_tag('outdoor.png'),  %>
    </a>
</div>
