<div class="home_page">
    <div>
        <h2>indoor</h2>
        <%= link_to image_tag('indoor.png'), new_climb_url(climb_type: 'indoor') %>
    </div>
    <div>
        <h2>outdoor</h2>
        <%= link_to image_tag('outdoor.png'), new_climb_url(climb_type: 'outdoor') %>
    </div>
</div>
